@model MonthlyBillsWithDapper.Models.BillsViewModel

<h1>Upcoming Bills</h1>
<table id="UpcomingBillsTable" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>
                Date
            </th>
            <th>
                Day Of Week
            </th>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upcomingBill in Model.TheUpcomingBills)
        {
        <tr>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Name, new { htmlAttributes = new { @class = "form-control Name" } })
            </td>

            <td>
                @Html.EditorFor(modelItem => upcomingBill.TheDate, new { htmlAttributes = new { @class = "form-control TheDate" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.DayOfWeek, new { htmlAttributes = new { @class = "form-control DayOfWeek" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Type, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Amount, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                <a class="Update" href="javascript:;">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    //$(".UpcomingBillsTable").on("keyup keydown", function () {
    //    console.log("keyed up")
    //});
    
    //$(document).ready(function () {
    //    console.log("ready");
    //})
        $("body").on("click", "#UpcomingBillsTable .Update", function () {
            console.log("hey");
            console.log("Starting Update");
            var row = $(this).closest("tr");

            var Upcoming = {}
            Upcoming.id = row.find(".id");
            console.log(Upcoming.id);
        }); 



</script>