@model RouteHubDapperPractice.Models.BillsViewModel

<h1>Upcoming Bills</h1>
<table class="table">
    <thead>
        <tr>
            <th>Hidden TO DO</th>
            <th>
                Name
            </th>

            <th>
                Date
            </th>
            <th>
                Day Of Week
            </th>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upcomingBill in Model.TheUpcomingBills)
        {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => upcomingBill.id, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Name, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>

            <td>
                @Html.EditorFor(modelItem => upcomingBill.TheDate, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.DayOfWeek, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Type, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => upcomingBill.Amount, new { htmlAttributes = new { @class = "form-control Type" } })
            </td>
        </tr>
        }
    </tbody>
</table>