@model MonthlyBillsWithDapper.Models.BillsViewModel
@using MonthlyBillsWithDapper.Entity


<a class="CreateBringHome" href="javascript:;">Create</a>

<form id="CreateBringHomeForm">
    <div class="grid-container-BringHome">
        <div class="grid-item">
            <span class="Name">Name:</span>
            <input asp-for="@Model.bringHome.Name" class="form-control" />
            <span asp-validation-for="@Model.bringHome.Name" class="text-danger"></span>
        </div>
        <div class="grid-item">
            <span class="Amount ">Amount: </span>
            <input asp-for="@Model.bringHome.amount" class="form-control" />
            <span asp-validation-for="@Model.bringHome.amount" class="text-danger"></span>
        </div>
        <div class="grid-item">
            <span class="Date">Day Of Week: </span>
            @Html.DropDownList("Day Of Week", new SelectList(Enum.GetValues(typeof(Entity.DayOfWeek))), new { @class = "DayOfWeek form-control" })
        </div>
        <div class="grid-item">
            <span class="Frequency">Frequency</span>
            @Html.DropDownList("Frequency", new SelectList(Enum.GetValues(typeof(Entity.Frequency))), new { @class = "FrequencySelector form-control" })
        </div>
        <div class="grid-item">
            <span class="PickOnePayDate">PickOnePayDate</span>
            <input class="datepicker form-control" type="date" id="datepicker">
        </div>
    </div>
    <button type="button" id="submitNewBringHome">Submit</button>
</form>

<table id="BringHomeBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Day Of Week</th>
            <th>Frequency</th>
            <th>Pay Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bringhome in Model.BringHomes)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => bringhome.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>

                <td class="Name">
                    @Html.EditorFor(modelItem => bringhome.Name, new { htmlAttributes = new { @class = "form-control Name" } })
                </td>
                <td class="amount">
                    @*@Html.EditorFor(modelItem => bringhome.amount, new { htmlAttributes = new { @class = "form-control amount" } })
                    @Html.ValidationMessageFor(modelItem => bringhome.amount, "", new { @class = "text-danger" })*@
                    <input asp-for="@Model.bringHome.amount" class="form-control" />
                    <span asp-validation-for="@Model.bringHome.amount" class="text-danger"></span>
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.DayOfWeek, new { htmlAttributes = new { @class = "form-control DayOfWeek" } })
                </td>
                <td class="Frequency">
                    @Html.EditorFor(modelItem => bringhome.Frequency, new { htmlAttributes = new { @class = "form-control Frequency" } })
                </td>
                <td class="PickOnePayDate">
                    @Html.EditorFor(modelItem => bringhome.PickOnePayDate, new { htmlAttributes = new { @class = "form-control PickOnePayDate" } })
                </td>
                <td>
                    <a class="UpdateBringHome" href="javascript:;">Update</a>
                    <a class="DeleteBringHome" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(".CreateBringHome").on("click", function () {

        $("#CreateBringHomeForm").toggle();

    });

    $("#submitNewBringHome").click(function () {
        var bh = $("#CreateBringHomeForm").serializeArray();
        console.log(bh);
        var bringHome = {}

        var Name = bh[0].value;
        bringHome.Name = Name

        var amount = bh[1].value;
        bringHome.amount = amount

        var DayOfWeek = bh[2].value;
        bringHome.DayOfWeek = DayOfWeek

        var Frequency = bh[3].value;
        bringHome.Frequency = Frequency;

        var PickOnePayDate = $(".datepicker").val();
        bringHome.PickOnePayDate = PickOnePayDate
   

        if (Name === "" || amount === "" || PickOnePayDate === "") {
        alert('One of the fields is blank');
        return false;
        }


        if ($("#CreateBringHomeForm").valid()) {
            $.ajax({
                url: '@Url.Action("InsertBringHome", "BringHome")',
                method: 'POST',
                data: { bringHome: bringHome },
                success: function (response) {
                    $("#CreateBringHomeForm").trigger("reset");
                    $("#CreateBringHomeForm").toggle();
                    //$('#PartialBringHome').html(response);

                    $.ajax({
                        url: '@Url.Action("PartialBringHome", "BringHome")',
                        success: function (response) {
                            $("#PartialBringHome").html(response);
                        },
                        error: function () {
                            alert("Error on embeeded ajax");
                        }

                    });

                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
            });
        } else {
            alert("Form is not valid");
            return false;
        };
    });


        $(".UpdateBringHome").click(function () {

        var bringhome = {};
            var row = $(this).closest("tr");
            var id = row.find(".id").find('input').val();
        var Name = row.find(".Name").find('input').val();
        var amount = row.find(".amount").find('input').val();
        var DayOfWeek = row.find(".DayOfWeek").find('input').val();
        var Frequency = row.find(".Frequency").find('input').val();
        var PickOnePayDate = row.find(".PickOnePayDate").find('input').val();

        bringhome.id = id;
        bringhome.Name = Name;
        bringhome.amount = amount;
        bringhome.DayOfWeek = DayOfWeek;
        bringhome.Frequency = Frequency;
        bringhome.PickOnePayDate = PickOnePayDate;

            $.ajax({
                url: '@Url.Action("UpdateBringHome", "BringHome")',
                method: 'POST',
                data: { bringhome: bringhome },
                success: function (response) {
                    alert("Updated");
                $.ajax({

                        url : '@Url.Action("PartialBringHome", "BringHome")'
                    })
                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
            });
        });

    $(".DeleteBringHome").click(function () {

        var row = $(this).closest("tr");
        var id = row.find(".id").find('input').val();
        console.log(id);
        $.ajax({

            url: '@Url.Action("DeleteBringHome", "BringHome")',
            method: 'POST',
            data: { id: id },
            success: function (response) {

                alert("Delete Bring Home");
                   $.ajax({
                        url: '/BringHome/PartialBringHome',
                        success: function (response) {
                            $("#PartialBringHome").html(response);
                        },
                        error : function() {
                            alert("Error on embeeded ajax");
                        }

                    });
            },

            error: function () {
                alert("You Fucked UP");
            }

        })

    })
</script>

