@model MonthlyBillsWithDapper.Models.BillsViewModel


<a class="CreateBringHome" href="javascript:;">Create</a>

<form id="CreateBringHomeForm">

    <span class="Name">Name:</span>
    `<input type="text" name="Name" required>

    <span class="Amount">Amount: </span>
    <input type="text" name="Amount" required>

    <span class="Date">Day Of Week: </span>
    @Html.DropDownList("Day", new SelectList(Enum.GetValues(typeof(DayOfWeek))))

    <span class="Frequency">Frequency</span>
    @Html.DropDownList("Frequency", new SelectList(Enum.GetValues(typeof(Entity.Frequency))), new { @class = "FrequencySelector" })

    <span class="PickOnePayDate">PickOnePayDate</span>
    <input class="datepicker" type="date" id="datepicker">

    <button type="button" id="submitNewBringHome">Submit</button>
</form>



<table id="BringHomeBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Day Of Week</th>
            <th>Frequency</th>
            <th>Pay Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bringhome in Model.BringHomes)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => bringhome.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>

                <td class="Name">
                    @Html.EditorFor(modelItem => bringhome.Name, new { htmlAttributes = new { @class = "form-control Bill" } })
                </td>
                <td class="amount">
                    @Html.EditorFor(modelItem => bringhome.amount, new { htmlAttributes = new { @class = "form-control Cost" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.DayOfWeek, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.Frequency, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.PickOnePayDate, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td>
                    <a class="UpdateBringHome" href="javascript:;">Update</a>
                    <a class="DeleteBringHome" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">




    //$(".datepicker").datepicker();

    $(".CreateBringHome").on("click", function () {

        $("#CreateBringHomeForm").toggle();

    });

        $("#submitNewBringHome").click(function () {
            var bh = $("#CreateBringHomeForm").serializeArray();
            console.log(bh);
            var bringHome = {}

            var Name = bh[0].value;
            bringHome.Name = Name

            var amount = bh[1].value;
            bringHome.amount = amount

            var DayOfWeek = bh[2].value;
            bringHome.DayOfWeek = DayOfWeek

            var Frequency = bh[3].value;
            bringHome.Frequency = Frequency;

            bringHome.PickOnePayDate = $(".datepicker").val();
            $.ajax({
                    url: '@Url.Action("InsertBringHome", "BringHome")',
                    method: 'POST',
                    data: { bringHome: bringHome },
                success: function (response) {
                    $("#CreateBringHomeForm").trigger("reset");
                    $("#CreateBringHomeForm").toggle();
                    //$('#PartialBringHome').html(response);

                    $.ajax({
                        url: '/BringHome/PartialBringHome',
                        success: function (response) {
                            $("#PartialBringHome").html(response);
                        },
                        error : function() {
                            alert("Error on embeeded ajax");
                        }
                        
                    });

                    },
                    error: function () {
                        alert("Sorry, there's been an error.");
                    }
            });
        });



    $(".DeleteBringHome").click(function () {

        var row = $(this).closest("tr");
        var id = row.find(".id").find('input').val();
        console.log(id);
        $.ajax({

            url: '@Url.Action("DeleteBringHome", "BringHome")',
            method: 'POST',
            data: { id: id },
            success: function (response) {

                alert("Delete Bring Home");
                   $.ajax({
                        url: '/BringHome/PartialBringHome',
                        success: function (response) {
                            $("#PartialBringHome").html(response);
                        },
                        error : function() {
                            alert("Error on embeeded ajax");
                        }
                        
                    });
            },

            error: function () {
                alert("You Fucked UP");
            }

        })

    })
</script>

