@model MonthlyBillsWithDapper.Models.BillsViewModel



<table id="UpcomingBillsTable" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:10%;">Date</th>
            <th class="DayOfWeek">Day Of Week</th>
            <th class="Type">Type</th>
            <th>Amount</th>
            <th>Running Total</th>
            <th></th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upcomingBill in Model.TheUpcomingBills)
        {
            <tr>
                <td class="Name">
                    @Html.EditorFor(modelItem => upcomingBill.Name, new { htmlAttributes = new { @class = "form-control Name" } })
                </td>

                <td class="TheDate">
                    @Html.EditorFor(modelItem => upcomingBill.TheDate,"{0:d}", new { htmlAttributes = new { @class = "form-control TheDate" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => upcomingBill.DayOfWeek, new { htmlAttributes = new { @class = "form-control DayOfWeek" } })
                </td>
                <td class="Type">
                    @Html.EditorFor(modelItem => upcomingBill.Type, new { htmlAttributes = new { @class = "form-control Type" } })
                </td>
                <td class="Amount">
                    @Html.EditorFor(modelItem => upcomingBill.Amount, new { htmlAttributes = new { @class = "form-control Amount" } })
                </td>
                <td class="RunningTotal">
                    @Html.EditorFor(modelItem => upcomingBill.RunningTotal, new { htmlAttributes = new { @class = "form-control RunningTotal" } })
                </td>
                <td>
                    <a class="UpdateUpcoming" href="javascript:;">Update</a>
                </td>
                <td class="Paid">
                    @Html.CheckBoxFor(modelItem => upcomingBill.Paid, new { @class = "k-checkbox Paid" })

                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">


        $("input.k-checkbox:checkbox").change(function () {
        var upComingPaid = {};
        var row = $(this).closest("tr");
            
        upComingPaid.TheDate = row.find(".TheDate").find('input').val();
        upComingPaid.Name = row.find(".Name").find('input').val();
        upComingPaid.DayOfWeek = row.find(".DayOfWeek").find('input').val()
        upComingPaid.Amount = row.find(".Amount").find('input').val();
        upComingPaid.Type = row.find(".Type").find('input').val();

        upComingPaid.id = row.find(".id").find('span').html();
            if (this.checked)
            {
                upComingPaid.Paid = true;
                console.log("checked");
            }
            else
            {
                console.log("it aint");
                upComingPaid.Paid = false;
            }
            console.log("Ajax Start");

            $.ajax({
                url: '@Url.Action("UpcomingPaid", "Upcoming")',
                type: "POST",
                data: { upComingPaid: upComingPaid },
                success: function (response) {
                    $.ajax({
                        url: '@Url.Action("PartialUpcoming","Upcoming")',
                        method: 'Get',
                        success: function (response) {

                            $('#PartialUpcoming').html(response);
                        },
                        error: function () {
                        alert("You Fucked Up");
                    }
                });


                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }

            });
        });


        $(".UpdateUpcoming").click(function () {
        var upComingPaid = {};
        var row = $(this).closest("tr");
            
        upComingPaid.TheDate = row.find(".TheDate").find('input').val();
        upComingPaid.Name = row.find(".Name").find('input').val();
        upComingPaid.DayOfWeek = row.find(".DayOfWeek").find('input').val()
        upComingPaid.Amount = row.find(".Amount").find('input').val();
        upComingPaid.Type = row.find(".Type").find('input').val();

        upComingPaid.id = row.find(".id").find('span').html();
            if (this.checked)
            {
                upComingPaid.Paid = true;
                console.log("checked");
            }
            else
            {
                console.log("it aint");
                upComingPaid.Paid = false;
            }
            console.log("Ajax Start");

            $.ajax({
                url: '@Url.Action("UpcomingPaid", "Upcoming")',
                type: "POST",
                data: { upComingPaid: upComingPaid },
                success: function (response) {
                    $.ajax({
                        url: '@Url.Action("PartialUpcoming","Upcoming")',
                        method: 'Get',
                        success: function (response) {

                            $('#PartialUpcoming').html(response);
                        },
                        error: function () {
                        alert("You Fucked Up");
                    }
                });


                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }

            });
        });

</script>