@model MonthlyBillsWithDapper.Models.BillsViewModel

<h1>
    Budget
</h1>


<div class="grid-container-balance">
    <span class="DisplayBalance">
        @Html.DisplayFor(m => m.bankBalance.KeyBalance)
    </span>
</div>
&nbsp
<div class="grid-container">
    <div class="grid-item">
        <button class="colorButton" type="button" id="UpcomingBillsButton">Upcoming Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="MonthlyBillsButton">Monthly Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="WeeklyBillsButton">Weekly Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="BringHomeButton">Bring Home Income</button>
    </div>

</div>


<div id="PartialMonthly"></div>

<div id="PartialBringHome"></div>

<div id="PartialUpcoming"></div>

<div id="PartialWeekly"></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    $("document").ready(function () {
        $.ajax({
            
            url: '@Url.Action("PartialUpcoming", "Upcoming")',
            method: 'Get',
            success: function (response) {
                $('#PartialUpcoming').html(response);
            },
            error: function () {
                alert("Sorry, there's been an error. Upcoming on Index");
            }
        });
        $("#PartialUpcoming").show();
        $("#PartialWeekly").hide();
        $("#PartialBringHome").hide();
        $("#PartialMonthly").hide();
    });


    $("#BringHomeButton").click(function () {
        $("#PartialBringHome").show();
        $("#PartialMonthly").hide();
        $("#PartialWeekly").hide();
        $("#PartialUpcoming").hide();
        $(this).addClass("colorButton")
        $("#WeeklyBillsButton").removeClass("colorButton")
        $("#UpcomingBillsButton").removeClass("colorButton")
        $("#MonthlyBillsButton").removeClass("colorButton")

            $.ajax({

                url: '@Url.Action("PartialBringHome","BringHome")',
                method: 'Get',
                success: function (response) {

                    $('#PartialBringHome').html(response);
                },
                error: function () {
                    alert("Sorry, there's been an error. Partial BringHome Button");
                }
            });
        });


        $("#MonthlyBillsButton").click(function () {
            $("#PartialMonthly").show();
            $("#PartialWeekly").hide();
            $("#PartialUpcoming").hide();
            $("#PartialBringHome").hide();
            $(this).addClass("colorButton")
            $("#WeeklyBillsButton").removeClass("colorButton")
            $("#UpcomingBillsButton").removeClass("colorButton")
            $("#BringHomeButton").removeClass("colorButton")

                $.ajax({

                    url: '@Url.Action("PartialMonthly","Monthly")',
                    method: 'Get',
                    success: function (response) {

                        $('#PartialMonthly').html(response);
                    },
                    error: function () {
                        alert("Sorry, there's been an error. Partial Monthly Button");
                    }
                });
        });

    $("#WeeklyBillsButton").click(function () {
        $("#PartialMonthly").hide();
        $("#PartialWeekly").show();
        $("#PartialBringHome").hide();
        $("#PartialUpcoming").hide();
        $(this).addClass("colorButton")
        $("#MonthlyBillsButton").removeClass("colorButton")
        $("#UpcomingBillsButton").removeClass("colorButton")
        $("#BringHomeButton").removeClass("colorButton")

        $.ajax({

            url: '@Url.Action("PartialWeekly","Monthly")',
            method: 'Get',
            success: function (response) {
                $('#PartialWeekly').html(response);
            },
            error: function () {
                alert("Sorry, there's been an error. Weekly Button");
            }
        });
    });     


    $("#UpcomingBillsButton").click(function () {

        $.ajax({
            
            url: '@Url.Action("PartialUpcoming", "Upcoming")',
            method: 'Get',
            success: function (response) {
                $('#PartialUpcoming').html(response);
            },
            error: function () {
                alert("Sorry, there's been an error. Upcoming on Index");
            }
        });

                $("#PartialUpcoming").show();
                $("#PartialMonthly").hide();
                $("#BringHomeBillsTable").hide();
                 $("#PartialWeekly").hide();
                $(this).addClass("colorButton")
                $("#MonthlyBillsButton").removeClass("colorButton")
                $("#WeeklyBillsButton").removeClass("colorButton")
                $("#BringHomeButton").removeClass("colorButton")
    });




</script>
