@model MonthlyBillsWithDapper.Models.BillsViewModel


<a class="CreateBringHome" href="javascript:;">Create</a>

<form id="CreateBringHomeForm">

    <span class="Name">Name:</span>
    `<input type="text" name="Name" required>

    <span class="Amount">Amount: </span>
    <input type="text" name="Amount" required>

    <span class="Date">Day Of Week: </span>
    @Html.DropDownList("Day", new SelectList(Enum.GetValues(typeof(DayOfWeek))))

    <span class="Frequency">Frequency</span>
    @Html.DropDownList("Frequency", new SelectList(Enum.GetValues(typeof(Entity.Frequency))), new { @class = "FrequencySelector" })


    <button type="button" id="submitNewBringHome">Submit</button>
</form>



<table id="BringHomeBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Day Of Week</th>
            <th>Frequency</th>
            <th>Pay Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bringhome in Model.BringHomes)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => bringhome.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>

                <td class="Name">
                    @Html.EditorFor(modelItem => bringhome.Name, new { htmlAttributes = new { @class = "form-control Bill" } })
                </td>
                <td class="amount">
                    @Html.EditorFor(modelItem => bringhome.amount, new { htmlAttributes = new { @class = "form-control Cost" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.DayOfWeek, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.Frequency, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.PickOnePayDate, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td>
                    <a class="Update" href="javascript:;">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    $(".CreateBringHome").on("click", function () {

        $("#CreateBringHomeForm").toggle();

    });

        $("#submitNewBringHome").click(function () {
            var bh = $("#CreateBringHomeForm").serializeArray();
            console.log(bh);
            var bringHome = {}
            var Name = bh[0].value;
            bringHome.Name = Name
            var amount = bh[1].value;
            bringHome.amount = amount
            var DayOfWeek = bh[2].value;
            bringHome.DayOfWeek = DayOfWeek

            @*$.ajax({
                    url: '@Url.Action("InsertWeekly", "Monthly")',
                    method: 'POST',
                    data: { weeklyBillInsert: weeklyBillInsert },
                    success: function (response) {
                        $("#CreateWeeklyBillForm").trigger("reset");
                        $("#CreateWeeklyBillForm").toggle();
                        $('#PartialWeekly').html(response);
                        alert("Submit New weekly");
                        },
                        error: function () {
                            alert("Sorry, there's been an error.");
                        }
            });*@
        });
</script>