@model MonthlyBillsWithDapper.Models.BillsViewModel


<a class="CreateBringHome" href="javascript:;">Create</a>

<form id="CreateWeeklyBillForm">

    <span class="Name">Name:</span>
    `<input type="text" name="Name" required>

    <span class="Amount">Amount: </span>
    <input type="text" name="Amount" required>

    <span class="Date">Day Of Week: </span>
    @Html.DropDownList("Day", new SelectList(Enum.GetValues(typeof(DayOfWeek))))

    <span class="Frequency">Frequency</span>
    @Html.DropDownListFor(m => m.BringHomes, new SelectList(Enum.GetValues(typeof(Entity.Frequency))), new { @class = "form-control FrequencySelector" })


    <button type="button" id="submitNewBringHome">Submit</button>
</form>



<table id="BringHomeBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Day Of Week</th>
            <th>Frequency</th>
            <th>Pay Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bringhome in Model.BringHomes)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => bringhome.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>

                <td class="Name">
                    @Html.EditorFor(modelItem => bringhome.Name, new { htmlAttributes = new { @class = "form-control Bill" } })
                </td>
                <td class="amount">
                    @Html.EditorFor(modelItem => bringhome.amount, new { htmlAttributes = new { @class = "form-control Cost" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.DayOfWeek, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.Frequency, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td class="DayOfWeek">
                    @Html.EditorFor(modelItem => bringhome.PickOnePayDate, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td>
                    <a class="Update" href="javascript:;">Update</a>
                </td>
            </tr>


        }

    </tbody>
</table>
