@model MonthlyBillsWithDapper.Models.BillsViewModel


<a class="CreateMonthly" href="javascript:;">Create</a>


<form id="CreateMonthlyBillForm">

    <span class="Bill">Bill:</span>
    <input type="text" name="Bill" required>

    <span class="Cost">Cost: </span>
    <input type="text" name="Cost" required>

    <span class="Date">Date: </span>
    <input type="text" name="Date" id="Date" required>

    <button type="button" id="submitNewMonthlyBill">Submit</button>
</form>


<table id="MonthlyBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Bill</th>
            <th>Cost</th>
            <th>Day</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monthlyBills in Model.MonthlyBills)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => monthlyBills.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>

                <td class="Bill">
                    @Html.EditorFor(modelItem => monthlyBills.Bill, new { htmlAttributes = new { @class = "form-control Bill" } })
                </td>
                <td class="Cost">
                    @Html.EditorFor(modelItem => monthlyBills.Cost, new { htmlAttributes = new { @class = "form-control Cost" } })
                </td>
                <td class="Date">
                    @Html.EditorFor(modelItem => monthlyBills.Date, new { htmlAttributes = new { @class = "form-control Date" } })
                </td>
                <td>
                    <a class="UpdateMonthly" href="javascript:;">Update</a>
                    <a class="DeleteMonthly" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

     $("#CreateMonthlyBillForm").validate({

        rules: {
            Date: {
                    required: true,
                    range: [1, 31]
            }
        }
    });
    $(".CreateMonthly").on("click", function () {

        $("#CreateMonthlyBillForm").toggle();

    });

        $("#submitNewMonthlyBill").click(function () {
            var mb = $("form").serializeArray();
            console.log(mb);
            var monthlyBillInsert = {}
            var Bill = mb[0].value;
            monthlyBillInsert.Bill = Bill
            var Cost = mb[1].value;
            monthlyBillInsert.Cost = Cost
            var Date = mb[2].value;
            monthlyBillInsert.Date = Date

            $.ajax({
                url: '@Url.Action("InsertMonthly", "Monthly")',
                method: 'POST',
                data: { monthlyBillInsert: monthlyBillInsert },
                success: function (response) {
                    $("#CreateMonthlyBillForm").trigger("reset");
                    $("#CreateMonthlyBillForm").toggle();
                     $('#PartialMonthly').html(response);
                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
            });
        });

        $(".UpdateMonthly").click(function () {

        var row = $(this).closest("tr");
        var monthlyBill = {}

        var id = row.find(".id").find('input').val();
        monthlyBill.id = id;

        var bill = row.find(".Bill").find('input').val();
        monthlyBill.bill = bill;

        var cost = row.find(".Cost").find('input').val();
        monthlyBill.Cost = cost;

        var date= row.find(".Date").find('input').val();
        monthlyBill.Date = date;

            $.ajax({
                url: '@Url.Action("UpdateMonthly", "Monthly")',
                method: 'POST',
                data: { monthlyBill: monthlyBill },
                success: function (response) {
                    $('#PartialMonthly').html(response);
                    alert("Updated");
                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
        });
    });


</script>