@model MonthlyBillsWithDapper.Models.BillsViewModel


<a class="CreateWeekly" href="javascript:;">Create</a>


<form id="CreateWeeklyBillForm">

    <span class="Bill">Bill:</span>
    <input type="text" name="Bill" required>

    <span class="Cost">Cost: </span>
    <input type="text" name="Cost" required>

    <span class="Date">Day Of Week: </span>
    @*<input type="text" name="DayOfweek" id="DayOfweek" required>*@
    @Html.DropDownList("Day", new SelectList(Enum.GetValues(typeof(DayOfWeek))))

    <button type="button" id="submitNewWeeklyBill">Submit</button>
</form>


<table id="WeeklyBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Bill</th>
            <th>Cost</th>
            <th>Day of Week</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weeklybill in Model.WeeklyBills)
        {
            <tr>
                <td class="id">
                    @Html.HiddenFor(modelItem => weeklybill.id, new { htmlAttributes = new { @class = "form-control id" } })
                </td>
                <td class="Bill">
                    @Html.EditorFor(modelItem => weeklybill.Bill, new { htmlAttributes = new { @class = "form-control Bill" } })
                </td>
                <td class="Cost">
                    @Html.EditorFor(modelItem => weeklybill.Cost, new { htmlAttributes = new { @class = "form-control Cost" } })
                </td>
                <td class="DayOfWeek">
                    @Html.DropDownListFor(modelItem => weeklybill.DayOfWeek, new SelectList(Enum.GetValues(typeof(Entity.DayOfWeek))), new { @class = "form-control DayOfWeekSelector" })
                </td>
                <td>
                    <a class="UpdateWeekly" href="javascript:;">Update</a>
                    <a class="DeleteWeekly" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    // $("#CreateWeeklyBillForm").validate({

    //    rules: {
    //        Date: {
    //                required: true,
    //                range: [1, 31]
    //        }
    //    }
    //});
    
    $(".CreateWeekly").on("click", function () {

        $("#CreateWeeklyBillForm").toggle();

    });

        $("#submitNewWeeklyBill").click(function () {
            var wb = $("#CreateWeeklyBillForm").serializeArray();
            console.log(wb);
            var weeklyBillInsert = {}
            var Bill = wb[0].value;
            weeklyBillInsert.Bill = Bill
            var Cost = wb[1].value;
            weeklyBillInsert.Cost = Cost
            var DayOfWeek = wb[2].value;
            weeklyBillInsert.DayOfWeek = DayOfWeek

            $.ajax({
                url: '@Url.Action("InsertWeekly", "Monthly")',
                method: 'POST',
                data: { weeklyBillInsert: weeklyBillInsert },
                success: function (response) {
                    $("#CreateWeeklyBillForm").trigger("reset");
                    $("#CreateWeeklyBillForm").toggle();
                    $('#PartialWeekly').html(response);
                    alert("Submit New weekly");
                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
            });
        });       

         $(".DeleteWeekly").click(function() {

        var row = $(this).closest("tr");
        var id = row.find(".id").find('input').val();

        $.ajax({
            url: '@Url.Action("DeleteWeekly", "Monthly")',
            method: 'POST',
            data: { id: id },
            success: function (response) {

                $('#PartialWeekly').html(response);
                alert("Delete Weekly");
            },
            error: function () {
                alert("Sorry, there's been an error.");
            }
            });
         });

     $(".UpdateWeekly").click(function () {

        var row = $(this).closest("tr");
        var weeklyBill = {}

        var id = row.find(".id").find('input').val();

        weeklyBill.id = id;

        var bill = row.find(".Bill").find('input').val();
        weeklyBill.bill = bill;
        console.log(bill);

        var cost = row.find(".Cost").find('input').val();
        weeklyBill.Cost = cost;
        console.log(cost);

        var selectedday = $("select.DayOfWeekSelector").children("option:selected").val();
            alert(selectedday);
            console.log(selectedday);

        weeklyBill.DayOfWeek = selectedday;

            $.ajax({
                url: '@Url.Action("UpdateWeekly", "Monthly")',
                method: 'POST',
                data: { weeklyBill: weeklyBill },
                success: function (response) {

                       alert("Updated Weekly");
 
                    //$('#PartialWeekly').html(response);                    
                },
                error: function () {
                    alert("Sorry, there's been an error with weekly.");
                }
            });
          });
</script>