@model MonthlyBillsWithDapper.Models.BillsViewModel

<h1>
    Budget
</h1>


<div class="grid-container-balance">
    <span class="DisplayBalance">
        @Html.DisplayFor(m => m.bankBalance.KeyBalance)
    </span>
</div>
&nbsp
<div class="grid-container">
    <div class="grid-item">
        <button class="colorButton" type="button" id="UpcomingBillsButton">Upcoming Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="MonthlyBillsButton">Monthly Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="WeeklyBillsButton">Weekly Bills</button>
    </div>
    <div class="grid-item">
        <button type="button" id="BringHomeButton">Bring Home Income</button>
    </div>

</div>


<div id="PartialMonthly"></div>

<div id="PartialBringHome"></div>


<table id="UpcomingBillsTable" class="table">
    <thead>
        <tr>
            <th style="width: 20%;">Name</th>
            <th style="width: 12%;">Date</th>
            <th style="width: 18%;">Day Of Week</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Running Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upcomingBill in Model.TheUpcomingBills)
        {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => upcomingBill.Name, new { htmlAttributes = new { @class = "form-control Name" } })
                </td>

                <td>
                    @Html.EditorFor(modelItem => upcomingBill.TheDate, new { htmlAttributes = new { @class = "form-control TheDate" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => upcomingBill.DayOfWeek, new { htmlAttributes = new { @class = "form-control DayOfWeek" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => upcomingBill.Type, new { htmlAttributes = new { @class = "form-control Type" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => upcomingBill.Amount, new { htmlAttributes = new { @class = "form-control Type" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => upcomingBill.RunningTotal, new { htmlAttributes = new { @class = "form-control Type" } })
                </td>
                <td>
                    <a class="Update" href="javascript:;">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="PartialWeekly"></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    $("document").ready(function () {
        $("#PartialWeekly").hide();
        $("#PartialBringHome").hide();
        $("#PartialMonthly").hide();
    });







    $("#BringHomeButton").click(function () {
        $("#PartialBringHome").show();
        $("#PartialMonthly").hide();
        $("#PartialWeekly").hide();
        $("#UpcomingBillsTable").hide();
        $(this).addClass("colorButton")
        $("#WeeklyBillsButton").removeClass("colorButton")
        $("#UpcomingBillsButton").removeClass("colorButton")
        $("#MonthlyBillsButton").removeClass("colorButton")

            $.ajax({

                url: '@Url.Action("PartialBringHome","Monthly")',
                method: 'Get',
                success: function (response) {

                    $('#PartialBringHome').html(response);
                },
                error: function () {
                    alert("Sorry, there's been an error. Partial BringHome");
                }
            });
        });


        $("#MonthlyBillsButton").click(function () {
            $("#PartialMonthly").show();
            $("#PartialWeekly").hide();
            $("#UpcomingBillsTable").hide();
            $("#PartialBringHome").hide();
            $(this).addClass("colorButton")
            $("#WeeklyBillsButton").removeClass("colorButton")
            $("#UpcomingBillsButton").removeClass("colorButton")
            $("#BringHomeButton").removeClass("colorButton")

                $.ajax({

                    url: '@Url.Action("PartialMonthly","Monthly")',
                    method: 'Get',
                    success: function (response) {

                        $('#PartialMonthly').html(response);
                    },
                    error: function () {
                        alert("Sorry, there's been an error. Partial Monthly");
                    }
                });
        });

    $("#WeeklyBillsButton").click(function () {
        $("#PartialMonthly").hide();
        $("#PartialWeekly").show();
        $("#BringHomeBillsTable").hide();
        $("#UpcomingBillsTable").hide();
        $(this).addClass("colorButton")
        $("#MonthlyBillsButton").removeClass("colorButton")
        $("#UpcomingBillsButton").removeClass("colorButton")
        $("#BringHomeButton").removeClass("colorButton")

        $.ajax({

            url: '@Url.Action("PartialWeekly","Monthly")',
            method: 'Get',
            success: function (response) {
                $('#PartialWeekly').html(response);
            },
            error: function () {
                alert("Sorry, there's been an error. Partial Monthly");
            }
        });
    });     


    $("#UpcomingBillsButton").click(function () {


        $.ajax({
            url: '@Url.Action("Index", "Monthly")',
            method: 'Get',
            success: function (response) {

            },
            error: function () {
                alert("Sorry, there's been an error.");
            }
        });

                $("#UpcomingBillsTable").show();
                $("#PartialMonthly").hide();
                $("#BringHomeBillsTable").hide();
                 $("#PartialWeekly").hide();
                $(this).addClass("colorButton")
                $("#MonthlyBillsButton").removeClass("colorButton")
                $("#WeeklyBillsButton").removeClass("colorButton")
                $("#BringHomeButton").removeClass("colorButton")
    });


        $(".DeleteMonthly").click(function () {

        var row = $(this).closest("tr");
        var id = row.find(".id").find('input').val();
         console.log(id);

            $.ajax({
                url: '@Url.Action("DeleteMonthly", "Monthly")',
                method: 'POST',
                data: { id: id },
                success: function (response) {
                       $('#PartialMonthly').html(response);
                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }
        });
    });

</script>
