@model MonthlyBillsWithDapper.Models.BillsViewModel



<h1>MonthlyBills</h1>
<p>
    <a class="Create" href="javascript:;">Create</a>
</p>

<form id="CreateMonthlyBillForm">
    <span class="Bill">Bill:</span> <input type="text" name="Bill">
    <span class="Cost">Cost: </span><input type="text" name="Cost">
    <span class="Date">Date: </span><input type="text" name="Date">
    <button type="button" id="submitNewMonthlyBill">Submit</button>
</form>
<table id="MonthlyBillsTable" class="table">
    <thead>
        <tr>
            <th class="TJR_th_Hidden"></th>
            <th>Bill</th>
            <th>Cost</th>
            <th>Day</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monthlyBills in Model.MonthlyBills)
        {
        <tr>
            <td class="id">               
               @Html.HiddenFor(modelItem => monthlyBills.id, new { htmlAttributes = new { @class = "form-control id" } }) 
            </td>
   
            <td class="Bill">
                @Html.EditorFor(modelItem => monthlyBills.Bill, new { htmlAttributes = new { @class = "form-control Bill" } })
            </td>
            <td class="Cost">
                @Html.EditorFor(modelItem => monthlyBills.Cost, new { htmlAttributes = new { @class = "form-control Cost" } })
            </td>
            <td class="Date">
                @Html.EditorFor(modelItem => monthlyBills.Date, new { htmlAttributes = new { @class = "form-control Date" } })
            </td>
            <td>
                <a class="Update" href="javascript:;">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">


    
    //jQuery.fn.extend({
    //        toggleText: function (a, b){
    //            var isClicked = false;
    //            var that = this;
    //            this.click(function (){
    //                if (isClicked) { that.text(a); isClicked = false; }
    //                else { that.text(b); isClicked = true; }
    //            });
    //            return this;
    //    }
    //});
    $(".Create").on("click", function () {

        $("#CreateMonthlyBillForm").toggle();

    });

    $("#submitNewMonthlyBill").click(function () {
        var g = $("form").serializeArray();
        var monthlybill = {}

        var bill = g[0].value;
        var date = g[1].value;
        var cost = g[2].value;

        monthlybill.bill = bill;
        monthlybill.date = date;
        monthlybill.cost = cost;

        console.table(monthlybill);


        //$( "form" ).submit(function( event ) {
        //  console.log( $( this ).serializeArray() );
        //  event.preventDefault();
        //});


        //$("#CreateMonthlyBillForm").submit(function () {

        //var Bill = $("CreateMonthlyBillForm").find("Bill");
        //console.log(Bill);
        //console.log("submitting form");

    });
        //$(".Create").toggleText("Create", "Hide");



    $("body").on("click", "#MonthlyBillsTable .Update", function () {

        var row = $(this).closest("tr");
        var monthlyBill = {}
        //var id = row.find(".id").find('input').html();
        var id = row.find(".id").find('input').val();
        console.log(id);

        monthlyBill.id = id;


        var bill = row.find(".Bill").find('input').val();
        monthlyBill.bill = bill;
        console.log(bill);

        var cost = row.find(".Cost").find('input').val();
        monthlyBill.Cost = cost;
        console.log(cost);

        var date= row.find(".Date").find('input').val();
        monthlyBill.Date = date;
        console.log(date);

            $.ajax({
                url: '@Url.Action("UpdateMonthly", "Monthly")',
                method: 'POST',
                data: { monthlyBill: monthlyBill },
                success: function (response) {

                },
                error: function () {
                    alert("Sorry, there's been an error.");
                }  
        });


    });






</script>
